<!DOCTYPE html>
<html ng-app="dynamo-planner">
   <head>
      <meta charset="utf-8">
      <title>Dynamo</title>
      <base href="./" target="_blank" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
      <!-- <firebase></firebase> -->
   </head>
   <body>
      <nav id="headerBar" class="navbar navbar-default" ng-controller="PopoverCtrl">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" target="_self">
              <img alt="Brand" src="">
            </a>
          </div>
          <button id="sign-up-button" uib-popover-template="'signUp.html'" popover-title="Sign Up" popover-placement="bottom-right" popover-is-open="isOpen1" type="button" class="btn btn-default navbar-btn navbar-right">Sign Up</button>
          <button id="sign-in-button" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-placement="bottom-right" popover-is-open="isOpen" type="button" class="btn btn-primary navbar-btn navbar-right" ng-click="check()">Sign in</button>
          <p id="signed-in-as" class="navbar-text navbar-right" style="margin-right: 1em;">Signed in as</p>
        </div>
        <script type="text/ng-template" id="signIn.html">
            <div class="form-group" style="width: 15em;">
               <input id="email" type="email" ng-model="email" class="form-control" placeholder="Email">
               <input id="password" type="password" ng-model="password" class="form-control" placeholder="Password">
               <br/>
               <a href="javascript:sendPasswordReset();">Forgot password?</a>
               <button id="go-sign-in" type="button" class="btn btn-default" onclick="toggleSignIn()" ng-click="$parent.isOpen = false">Go</button>
            </div>
         </script>
         <script type="text/ng-template" id="signUp.html">
             <div class="form-group" style="width: 15em;">
                <label>Email:</label>
                <input id="email" type="email" ng-model="email" class="form-control">
                <label>Password:</label>
                <input id="password" type="password" ng-model="password" class="form-control">
                <br/>
                <button id="go-sign-up" type="button" class="btn btn-default" onclick="handleSignUp()" ng-click="$parent.isOpen1 = false">Go</button>
             </div>
          </script>
      </nav>
      <div id="main-screen" class="container">
         <div id="left-half" class="pull-left">
            <div id="schedule">
               <ul class="list-group">
                 <li id="time-6" class="list-group-item">
                    <span>6</span>
                    <!-- <span id="badge" class="badge">1</span> -->
                 </li>
                 <li id="time-7" class="list-group-item">
                    <span>7</span>
                 </li>
                 <li id="time-7-30" class="list-group-item"></li>
                 <li id="time-8" class="list-group-item">
                    <span>8</span>
                 </li>
                 <li id="time-8-30" class="list-group-item"></li>
                 <li id="time-9" class="list-group-item">
                    <span>9</span>
                 </li>
                 <li id="time-9-30" class="list-group-item"></li>
                 <li id="time-10" class="list-group-item">
                    <span>10</span>
                 </li>
                 <li id="time-10-30" class="list-group-item"></li>
                 <li id="time-11" class="list-group-item">
                    <span>11</span>
                 </li>
                 <li id="time-11-30" class="list-group-item"></li>
                 <li id="time-12" class="list-group-item">
                    <span>12</span>
                 </li>
                 <li id="time-12-30" class="list-group-item"></li>
                 <li id="time-1" class="list-group-item">
                    <span>1</span>
                 </li>
                 <li id="time-1-30" class="list-group-item"></li>
                 <li id="time-2" class="list-group-item">
                    <span>2</span>
                 </li>
                 <li id="time-2-30" class="list-group-item"></li>
                 <li id="time-3" class="list-group-item">
                    <span>3</span>
                 </li>
                 <li id="time-3-30" class="list-group-item"></li>
                 <li id="time-4" class="list-group-item">
                    <span>4</span>
                 </li>
                 <li id="time-4-30" class="list-group-item"></li>
                 <li id="time-5" class="list-group-item">
                    <span>5</span>
                 </li>
                 <li id="time-5-30" class="list-group-item"></li>
                 <li id="time-6-PM" class="list-group-item">
                    <span>6</span>
                 </li>
                 <li id="time-6-30-PM" class="list-group-item"></li>
                 <li id="time-7-PM" class="list-group-item">
                    <span>7</span>
                 </li>
                 <li id="time-7-30-PM" class="list-group-item"></li>
                 <li id="time-8-PM" class="list-group-item">
                    <span>8</span>
                 </li>
                 <li id="time-8-30-PM" class="list-group-item"></li>
                 <li id="time-9-PM" class="list-group-item">
                    <span>9</span>
                 </li>
                 <li id="time-9-30-PM" class="list-group-item"></li>
                 <li id="time-10-PM" class="list-group-item">
                    <span>10</span>
                 </li>
                 <li id="time-10-30-PM" class="list-group-item"></li>
                 <li id="time-11-PM" class="list-group-item">
                    <span>11</span>
                 </li>
               </ul>
            </div>
            <div id="highlights">
               <div id="morning" class="highlight-section">
                  <table class="table">
                     <caption>Morning</caption>
                     <tr class="highlight-item">
                        <td>
                           <span id="rBadge" class="badge">1</span>
                           <span>This is text</span>
                        </td>
                     </tr>
                  </table>
               </div>
               <div id="noon" class="highlight-section">
                  <table class="table">
                     <caption>Noon</caption>
                     <tr class="highlight-item">
                        <td>
                           <span id="rBadge" class="badge">1</span>
                           <span>This is text</span>
                        </td>
                     </tr>
                  </table>
               </div>
               <div id="evening" class="highlight-section">
                  <table class="table">
                     <caption>Evening</caption>
                     <tr class="highlight-item">
                        <td>
                           <span id="rBadge" class="badge">1</span>
                           <span>This is text</span>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
         <div id="right-half" class="pull-right">
            <div id="starred-highlights">
               Reminders:
            </div>
            <div id="goals">
               <div id="goals-box">
                  Goals:
               </div>
               <div id="notes-box">
                  Notes:
               </div>
            </div>
            <div id="what-good">
               <div id="will-do-good">
                  <textarea id="good-input" name="will" class="form-control do-good-section" placeholder="What good shall I do today?"></textarea>
               </div>
               <div id="have-done-good">
                  <textarea id="good-input" name="done" class="form-control" placeholder="What good have I done today?"></textarea>
               </div>
            </div>
         </div>
      </div>
      <!-- FOOTER -->
      <nav id="footer" class="navbar navbar-default navbar-fixed-bottom action-buttons">
         <div class="container-fluid action-buttons">
            <!-- <div class=""> -->
               <ul class="nav navbar-nav">
                  <li id="actionbar-item">
                     <a class="actionbar-item-link" href="javascript:newEvent();">
                        <img id="event-image" src="content/event.svg" alt="Add Event">
                        <p class="pull-right">Add Event</p>
                     </a>
                  </li>
                  <li id="actionbar-item">
                     <a href="javascript:newReminder();">
                        <img id="reminder-image" src="content/check.svg" alt="Add Reminder">
                        <p class="pull-right">Add Reminder</p>
                     </a>
                  </li>
                  <li id="actionbar-item">
                     <a href="javascript:newGoal();">
                        <img id="goal-image" src="content/goal.svg" alt="Add Goal">
                        <p class="pull-right">Add Goal</p>
                     </a>
                  </li>
                  <li id="actionbar-item">
                     <a href="javascript:newNote();">
                        <img id="note-image" src="content/note.svg" alt="Add Note">
                        <p class="pull-right">Add Note</p>
                     </a>
                  </li>
               </ul>
            <!-- </div> -->
         </div>
      </nav>

      <!-- MODALS -->
      <event-modal></event-modal>
      <reminder-modal></reminder-modal>
      <goal-modal></goal-modal>
      <note-modal></note-modal>

     <!-- Scripts -->
     <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
     <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
     <script>
      // Initialize Firebase
      var config = {
         apiKey: "AIzaSyAB-MckOG2fIHu7FKG4IFdoYfm3HlQFm5o",
         authDomain: "dynamo-planner.firebaseapp.com",
         databaseURL: "https://dynamo-planner.firebaseio.com",
         storageBucket: "dynamo-planner.appspot.com",
      };
      firebase.initializeApp(config);
     </script>
     <script type="text/javascript" src="auth.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="ui-bootstrap-tpls-2.0.1.min.js"type="text/javascript"></script>
      <script type="text/javascript" src="main.js"></script>


   </body>
</html>
