/* Changing MAIN element attributes */
body {
  padding-bottom: 4.3em;
}

/*********************
 * APP ELEMENTS
 *********************/
/* SCHEDULE */
.timeSpan {
  padding: 5px;
  height: 2em;
}
#timeSpan-list {
  margin-bottom: 0;
}
#schedule {
  width: 50%;
}
#badge {
  background-color: #d9534f;
}
#rBadge {
  border: 2px solid #d9534f;
  color: #d9534f;
  background-color: transparent;
  border-radius: 50%;
  display: initial;
}
/* HIGHLIGHTS */
#highlights {
width: 50%;
padding-left: 1em;
padding-right: 1em;
border: 1px solid #ddd;
}
.highlight-section {
  height: 33%;
}
.highlight-item {

}
.highlight-item:hover {
  background-color: #ddd;
}
/* STARRED-HIGHLIGHTS */
#starred-highlights {
  display: block;
  height: 40%;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 5px;
  overflow-y: auto;
}
#reminder {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#reminder:first-child {
  border-top: none;
}
/* GOALS */
#goals {
  display: flex;
  height: 30%;
  border: 1px solid #ddd;
}
#goals-box {
  width: 50%;
  border-right: 1px solid #ddd;
  padding: 5px;
  overflow-y: auto;
}
#goal {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#goal:first-child {
    border-top: none;
}
#notes-box {
  width: 50%;
  padding: 5px;
  overflow-y: auto;
}
#note {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#note:first-child {
  border-top: none;
}
/* WHAT-GOOD */
#what-good {
  display: flex;
  height: 30%;
  padding-top: 1em;
}
#will-do-good {
  width: 50%;
  padding-right: 1em;
}
#have-done-good {
  width: 50%;
  padding-left: 1em;
}
.do-good-section {
  height: 100%;
}
#good-input {
  height: 100%;
  resize: none;
}
/* FOOTER */
#footer {
  display: flex;
  justify-content: space-between;
  height: 4.3em;
}
#actionbar-item {
  width: 25%;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#actionbar-item:last-child {
  border: none;
}
.actionbar-item-link {
  display: flex;
  align-items: center;
}
.nav.navbar-nav {
  width: 100%;
}
.container-fluid.action-buttons {
  margin: 0;
  width: 100%;
}
/*********************
 * ELEMENT CONTAINERS
 *********************/
 /* HEADER */
 #sign-in-button {
   margin-right: 0.5em;
 }
 #sign-up-button {
   margin-right: 1em;
 }
 #go-sign-in {
   margin-left: 1em;
 }
/* MAIN-SCREEN */
#main-screen {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 1em;
}
/* LEFT-HALF */
#left-half {
  display: flex;
}
/* RIGHT-HALF */
#right-half {
  display: block;
  height: 64.7em;
}
/* MODALS */
.description {
  margin-bottom: 1em;
}
/*EventModal*/
#event-when {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
}
#eventDesCon {
  margin-bottom: 1em;
}
.input-group {
  margin: 0;
}
#datepicker {
  margin-right: 1em;
}
/*ReminderModal*/
#reminder-container {
  width: inherit;
  display: flex;
  justify-content: center;
}
#rc-priority {
  margin-left: 4em;
}
/*GoalModal*/
/*NoteModal*/
#note-input {
  resize: none;
}
